
/* Your CSS Code here. */
table {
        border-collapse: collapse;
         width: 400px;
}
td, th {
        border: 1px solid #333;
        padding: 8px;
        text-align: center;
}
.total-row {
        font-weight: bold;
        background-color: #f2f2f2;
}